body *, html body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Default welcome state of header */
header {
  width: 100%;
  padding: 20px 0 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#2a425c), to(#40668f));
  background: -moz-linear-gradient(top,  #2a425c 0%,  #40668f 100%);
  background: -ms-linear-gradient(top, #2a425c 0%, #40668f 100%);
  background: -o-linear-gradient(top, #2a425c 0%, #40668f 100%);
  background: linear-gradient(top, #2a425c 0%, #40668f 100%);
  border-bottom: 4px solid #9eaebe;
  position: relative;
}
header > div {
  width: 980px;
  margin: 0 auto;
  font: normal 20px 'Helvetica Neue', 'Helvetica', sans-serif;
  text-align: center;
  color: #eeeeff;
}
header h1 {
  margin-bottom: 15px;
  text-shadow: 3px 3px 3px #333;
}
header h1 span { font-size: 11px; }
header h2 {
  margin-bottom: 15px;
  font: normal 16px 'Helvetica Neue', 'Helvetica', sans-serif;
}
header .current-cookie {
  display: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
header .current-cookie p {
  display: inline-block;
  margin: 0;
}
header .current-cookie a {
  margin: 0;
  padding: 0 0 0 10px;
  color: #eeeeff;
  text-decoration: none;
}

header form { padding: 20px 0 30px; }
header form input {
  padding: 5px;
  border: 1px solid #666;
  -moz-border-radius: 5px 5px;
  -webkit-border-radius: 5px 5px;
  border-radius: 5px 5px;
  background: -webkit-gradient(linear, left top, left bottom, from(#c5c5c7), to(#fefefe));
  background: -moz-linear-gradient(top,  #c5c5c7 0%,  #fefefe 100%);
  background: -ms-linear-gradient(top, #c5c5c7 0%, #fefefe 100%);
  background: -o-linear-gradient(top, #c5c5c7 0%, #fefefe 100%);
  background: linear-gradient(top, #c5c5c7 0%, #fefefe 100%);
  font: normal 14px arial, sans-serif;
}
header form input[type="text"] { width: 300px; }
header form input[type="submit"] { padding: 5px 10px; }

/* Form errors */
form.error input {
  border: 1px solid #9f1c1c;
  -webkit-box-shadow: 2px 2px 0px #9f1c1c;
  -moz-box-shadow: 2px 2px 0px #9f1c1c;
  box-shadow: 2px 2px 0px #9f1c1c;
}

/* Minimized version of the header */
header.minimized { padding: 2px 10px; }
header.minimized > div {
  width: 100%;
  font-size: 10px;
  text-align: left;
}
header.minimized h1 {
  display: inline-block;
  margin: 0 25px 0 0;
}
header.minimized h2 { display: none; }
header.minimized .current-cookie { display: inline-block; }
header.minimized form {
  display: inline-block;
  padding: 0;
}

/* Weather Data */
.weather-data-holder { display: none; }
article section {
  display: inline-block;
}
.gmap { border-right: 1px solid #999; }

.current-weather {
  padding: 0 0 0 30px;
  height: 75px;
  background: #fff;
  position: relative;
}
.current-weather p {
  display: inline-block;
  margin: 0;
  padding: 0;
  color: #555;
}
.current-weather .label {
  position: absolute;
  top: 10px;
  left: 10px;
  font: normal 12px 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #999;
}
.current-weather .icon {
  width: 135px;
  height: 88px;
  position: absolute;
  top: -14px;
  left: 35px;
  z-index: 1;
}
.current-weather .temp {
  display: inline-block;
  width: 138px;
  position: relative;
  z-index: 2;
  font-size: 42px;
  font-weight: 100;
  color: #fff;
  text-align: center;
  text-shadow: 1px 2px 4px #555;
  line-height: 95px;
  vertical-align: middle;
}
.current-weather .weather {
  padding-left: 8px;
  font-size: 24px;
  font-weight: 100;
}
.current-weather .time,
.current-weather .location {
  padding-left: 5px;
  font-size: 13px;
  font-weight: 100;
  color: #999;
}
.current-weather .credit {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 10px;
  color: #ddd;
  text-align: right;
}
.current-weather .credit a {
  color: #9392f2;
  text-decoration: none;
}
.current-weather .credit a:hover { text-decoration: underline; }

.day {
  background-color: #f1f1f1;
  border-right: 1px solid #ddd;
}
.day:last-child { border-right: none; }
.day.clone { display: none; }
.day header {
  padding: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8ecf1), to(#dee7f2));
  background: -moz-linear-gradient(top,  #e8ecf1 0%,  #dee7f2 100%);
  background: -ms-linear-gradient(top, #e8ecf1 0%, #dee7f2 100%);
  background: -o-linear-gradient(top, #e8ecf1 0%, #dee7f2 100%);
  background: linear-gradient(top, #e8ecf1 0%, #dee7f2 100%);
  border-bottom: 1px solid #dbe2e9;
  text-align: center;
}
.day section {
  width: 100%;
  border-bottom: 3px solid #BBB;
}
.day header h3,
.day section p {
  margin: 0;
  padding: 0;
  text-align: center;
}
.day header h3 {
  font: normal 16px 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #555;
}
.day section p {
  font: normal 12px 'Helvetica Neue', 'Helvetica', sans-serif;
  color: #666;
}
.day section .weather {
  padding-bottom: 25px;
  font-size: 13px;
  color: #333;
}
.day .temp-high {
  margin: 0 20px 6px 20px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ccc;
  vertical-align: top;
}
.day .temp-high span {
  padding: 0 5px;
  font-size: 40px;
  font-weight: 100;
  color: #7f311c;
  line-height: 27px;
}
.day .temp-low {
  padding: 8px 0 20px;
  vertical-align: bottom;
}
.day .temp-low span {
  padding: 0 5px;
  font-size: 32px;
  font-weight: 100;
  color: #1c6e7c;
  line-height: 16px;
}
.day .winds {
  padding: 10px 0;
  color: #999;
}

.whud > div { position: relative; }
.day.today {
  width: 157px;
  background-color: #fff;
  border: 1px solid #BBB;
  position: absolute;
  top: -8px;
  left: 16%;
  z-index: 9;
}
.day header {
  background: -webkit-gradient(linear, left top, left bottom, from(#f7f8f9), to(#e8f0f9));
  background: -moz-linear-gradient(top,  #f7f8f9 0%,  #e8f0f9 100%);
  background: -ms-linear-gradient(top, #f7f8f9 0%, #e8f0f9 100%);
  background: -o-linear-gradient(top, #f7f8f9 0%, #e8f0f9 100%);
  background: linear-gradient(top, #f7f8f9 0%, #e8f0f9 100%);
  border-bottom: 1px solid #dbe2e9;
}
.day.today header h3 {
  font-size: 20px;
  color: #555;
}
.day.today .winds { padding-bottom: 15px; }
.day.today .icon { margin-left: 12px; }

.icon {
  width: 100%;
  height: 150px;
  background: transparent url(../img/weather-icons.png) no-repeat -12px -8px;
}
.icon.clear-sunny        { /* Default */ }
.icon.partly-cloudy      { background-position: -11px -158px; }
.icon.cloudy             { background-position: -9px -308px; }
.icon.overcast           { background-position: -10px -456px; }
.icon.fog                { background-position: -13px -606px; }
.icon.freezing-fog       { background-position: -4px -752px; }
.icon.light-rain         { background-position: -10px -901px; }
.icon.heavy-rain         { background-position: -6px -1050px; }
.icon.light-rain-thunder { background-position: -9px -1200px; }
.icon.heavy-rain-thunder { background-position: -6px -1350px; }
.icon.light-snow         { background-position: -6px -1498px; }
.icon.moderate-snow      { background-position: -8px -1649px; }
.icon.heavy-snow         { background-position: -7px -1797px; }
